// 共通（mixinとvariable）
@import "../../asset/common";

// Settingコンポーネントのみに適用されるスタイル

#setting{
  padding: 30px;
  dl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    dd{
      margin-left: 10px;
      select{
        border: 1px solid #666;
        padding: 8px;
        font-weight: bold;
      }
      input{
        width: 3.8em;
        border: 1px solid #666;
        margin-right: 5px;
        padding: 8px;
        font-weight: bold;
      }
    }
  }
}
