// リセットCSS
@import "./asset/scss/destyle";

// 共通（mixinとvariable）
@import "./asset/common";

// ユーティリティ
.dib{
  display: inline-block;
}

// 共通
h1{
  text-align: center;
  line-height: 1.4em;
  font-size: 30px;
  font-weight: bold;
}
h2{
  text-align: center;
  line-height: 1.4em;
  font-size: 24px;
  font-weight: bold;
}
select{
  border: 1px solid #666;
  padding: 8px;
  font-weight: bold;
}
input{
  border: 1px solid #666;
  padding: 8px;
  font-weight: bold;
}

.container{
  padding: 30px;
  & + & {
    border-top: 1px dashed $border-color;
  }
}

// モーダル
.modalBg{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.9);
  .modalOuter{
    padding: 20px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 10px;
    .btn{
      margin-top: 15px;
      text-align: center;
      button{
        @include btnNormal;
      }
    }
  }
}

// hide
@include mqPc(){
  .hidePc{
    display: none!important;
  }
}
@include mq(){
  .hideSp{
    display: none!important;
  }
}

// スクロールバー
*::-webkit-scrollbar{
  width: 4px;
}
*::-webkit-scrollbar-track{
  background: #fff;
}
*::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 2px;
}
